; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[platformio]
description = MeatLoaf is a wifi enabled multi-device emulator for Commodore 64/128
; Change this to target the device you use from the list of [env:xxx] sections below
default_envs = d1_mini

[env]
framework = arduino
upload_speed = 921600
;upload_port = COM1 ; Windows
;upload_port = /dev/ttyUSB0 ; Linux
upload_port = /dev/tty.SLAB_USBtoUART ; Mac
monitor_speed = 921600
;monitor_port = COM1 ; Windows
;monitor_port = /dev/ttyUSB0 ; Linux
monitor_port = /dev/tty.SLAB_USBtoUART ; Mac
monitor_filters = default, esp8266_exception_decoder

lib_deps = 
	ArduinoJson
	ArduinoWebsockets
	ESPAsyncTCP
	ESPDateTime

build_type = debug
build_flags = 
	-D USE_LITTLEFS
	-DDEBUG_ESP_OOM     ;https://docs.platformio.org/en/latest/platforms/espressif8266.html#debug-level
	-Wl,-Map,output.map ;Creates a map file to figure out relative sizes of included stuff

[env:d1_mini]
platform = espressif8266
board = d1_mini
; set frequency to 160MHz
board_build.f_cpu = 160000000L
board_build.filesystem = littlefs
;board_build.flash_mode = dio ;Uncomment this line and reflash if your device doesn't boot
board_build.ldscript = eagle.flash.4m3m.ld

[env:d1_mini_pro]
platform = espressif8266
board = d1_mini_pro
; set frequency to 160MHz
board_build.f_cpu = 160000000L
board_build.filesystem = littlefs
;board_build.flash_mode = dio ;Uncomment this line and reflash if your device doesn't boot

;Have to do the fix to main.py to get the full filesystem size
;https://github.com/platformio/platform-espressif8266/issues/190#issuecomment-1374266591
board_build.ldscript = eagle.flash.16m14m.ld
;otherwise use the following line
;board_build.ldscript = eagle.flash.8m7m.ld

[env:nodemcuv2]
platform = espressif8266
board = nodemcuv2
; set frequency to 160MHz
board_build.f_cpu = 160000000L
board_build.filesystem = littlefs
;board_build.flash_mode = dio ;Uncomment this line and reflash if your device doesn't boot
board_build.ldscript = eagle.flash.4m3m.ld

[env:esp32doit-devkit-v1]
platform = espressif32
board = esp32doit-devkit-v1
board_build.filesystem = littlefs
;board_build.flash_mode = dio ;Uncomment this line and reflash if your device doesn't boot
board_build.ldscript = eagle.flash.4m3m.ld