; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[platformio]
description = MeatLoaf is a wifi enabled multi-device emulator for Commodore 64/128
; Change this to target the device you use from the list of [env:xxx] sections below
default_envs = d1_mini
;default_envs = esp32doit-devkit-v1

[env]
framework = arduino
upload_speed = 921600
;upload_port = COM1 ; Windows
;upload_port = /dev/ttyUSB0 ; Linux
upload_port = /dev/tty.SLAB_USBtoUART ; Mac
;monitor_port = COM1 ; Windows
;monitor_port = /dev/ttyUSB0 ; Linux
monitor_port = /dev/tty.SLAB_USBtoUART ; Mac
monitor_speed = 921600
monitor_filters = default, esp8266_exception_decoder
lib_deps = 
    ArduinoJson
    ArduinoWebsockets

build_type = debug

build_flags =
    -D USE_LITTLEFS

[env:d1_mini]
platform = espressif8266@^2.6.3
board = d1_mini
; set frequency to 160MHz
board_build.f_cpu = 160000000L
board_build.filesystem = littlefs


[env:d1_mini_pro]
platform = espressif8266@^2.6.3
board = d1_mini_pro
; set frequency to 160MHz
board_build.f_cpu = 160000000L
board_build.filesystem = littlefs

[env:nodemcuv2]
platform = espressif8266@^2.6.3
board = nodemcuv2
; set frequency to 160MHz
board_build.f_cpu = 160000000L
board_build.filesystem = littlefs

[env:esp32doit-devkit-v1]
platform = espressif32
board = esp32doit-devkit-v1
board_build.filesystem = littlefs
;lib_deps = SHA-1 Hash
build_flags = 
;    -D USE_SPIFFS
    -D USE_LITTLEFS
    -D DEBUG
    -DCORE_DEBUG_LEVEL=5
monitor_speed = 921600
monitor_filters = default, esp32_exception_decoder
